{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - produit index
{% endblock %}

{% block body %}

    <script
            src="https://code.jquery.com/jquery-1.11.1.min.js"
            integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
            crossorigin="anonymous"></script>

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3> Les produits Listes
                    <small> Les produits Listes</small>
                </h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Shop Gallery
                            <small>Shop Gallery</small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="row">

                            <div class="well">
                                <div class="fa fa-shopping-cart center"></div>{% if(panier[0]['total_qte_product']!= null) %}
                                <h2 class="text-secondary"><a href="" >{{ panier[0]['total_qte_product'] }} produits dans le panier
                                    à {{ panier[0]['prix_totale'] }}DNT{% endif %}</a></h2></div>
                            {% for produit in produits %}

                                <div class="col-md-4 col-sm-4 col-xs-12 panel panel-success">
                                    <div class="">
                                        <div class="col-sm-12">
                                            <div class="center">
                                                <img src="{{ asset('images/phone-4.jpg') }}" alt=""
                                                     class="img-responsive">
                                            </div>
                                            <div class="center">
                                                <h2> {{ produit.refmodel |capitalize }} </h2>

                                                <div>
                                                    <p><strong>Prix</strong> : {{ produit.prixvend }} DNT </p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-xs-12 bottom text-center">
                                            <div class="col-xs-12 col-sm-6 emphasis">
                                                <p class="ratings">


                                                    {#<button type="button" class="btn btn-primary btn-xs">#}
                                                    {#<a href="{{ path('produit_ajouterpanier') }}">#}
                                                    {#</a>#}
                                                    {#<i class="fa fa-shopping-cart"> </i>#}
                                                    {#ajouter au panier#}
                                                    {#</button>#}

                                                    <!-- 2eme button Ajouter au panier -->


                                                    <a class="fa fa-shopping-cart btn btn-primary"
                                                       href="{{ path('produit_ajouterpanier', { 'id': produit.id }) }}">
                                                        Ajouter au panier

                                                    </a>

                                                    <!--     **********************************************    -->

                                                </p>

                                            </div>

                                        </div>
                                    </div>
                                </div>


                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

